/* GLOBAL BACKGROUND */
.main-wrapper {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* TEXT FIX */
.markdown,
.theme-doc-markdown {
  color: #e5e7eb;
}

/* FOOTER FIX */
.footer {
  background-color: #1f2937;
}
